insert_data:
  stage: seed_data
  image: alpine:latest
  dependencies:
    - initial_deploy_infrastructure
  cache:
    key: terraform-cache
    policy: pull
    paths:
      - infra/.marker
  before_script:
    - apk add --no-cache bash curl
    - chmod +x seed-application/add_data.sh
  script:
    - if [ ! -f infra/.marker ]; then
      echo "No .marker found. Infrastructure not deployed. Exiting.";
      exit 1;
      fi
    - export DNS=$(cat infra/lb_dns.txt | tr -d '\n')
    - export GOALS_ENDPOINT="http://${DNS}/api/goals"
    - echo "Inserting data into $GOALS_ENDPOINT"
    - ./seed-application/add_data.sh seed-application/data.md
