initial_deploy_infrastructure:
  stage: initial_deploy
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  script:
    - if [ -f infra/.marker ]; then
      echo "Marker exists; skipping deployment";
      exit 0;
      fi
    - cd infra
    - terraform init
    - terraform apply -auto-approve
    - terraform output -raw lb_dns > lb_dns.txt
    - terraform output -raw autoscaling_group_name > autoscaling_group_name.txt
    - echo "Marker file created" > .marker
  cache:
    key: terraform-cache
    policy: pull-push
    paths:
      - infra/terraform.tfstate
      - infra/autoscaling_group_name.txt
      - infra/lb_dns.txt
      - infra/.marker
  artifacts:
    paths:
      - infra/terraform.tfstate
      - infra/lb_dns.txt
      - infra/autoscaling_group_name.txt
      - infra/.marker
    when: always
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        TF_VAR_env: "main"
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      variables:
        TF_VAR_env: "main"
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      when: always
    - when: never


destroy_infrastructure:
  stage: destroy_infrastructure
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        TF_VAR_env: "main"
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      variables:
        TF_VAR_env: "main"
  needs:
      - job: initial_deploy_infrastructure
        optional: true
  cache:
    key: terraform-cache
    paths: # Cache files to be removed.
      - infra/.trash
  script:
    - apk add --no-cache python3 py3-pip
    - pip install boto3
    - cd infra
    - terraform init
    - terraform destroy -auto-approve
    - python delete_s3_bucket.py $TF_VAR_env
    - rm -f .marker seeded.marker terraform.tfstate lb_dns.txt autoscaling_group_name.txt
    - touch .trash
    - echo "Infrastructure destroyed and cache files cleared."
  when: manual
