stages:
  - build_and_test
  - publish_backend
  - initial_deploy
  - seed_data
  - deploy_backend
  - build_frontend
  - publish_frontend
  - destroy_infrastructure

include:
  - local: '.gitlab-ci-infra.yml'
  - local: '.gitlab-ci-insert.yml'

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
      when: always

backend_job:
  stage: build_and_test
  image: cimg/php:8.2
  cache:
    key: backend-deps
    paths:
      - backend/vendor/
  before_script:
    - cd backend
    - sudo apt-get update && sudo apt-get install -y sqlite3
    - composer install
    - php artisan migrate --force
  script:
    - php artisan test || vendor/bin/phpunit

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
      when: always

publish_backend:
  stage: publish_backend
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login $REGISTRY -u "$DEPLOY_USERNAME" -p "$DEPLOY_PASSWORD"
  script:
    - docker build ./backend --file ./backend/Dockerfile --tag "$CI_REGISTRY_IMAGE/backend:latest"
    - docker push "$CI_REGISTRY_IMAGE/backend:latest"
  needs:
    - backend_job
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always

update_backend:
  stage: deploy_backend
  image: python:3.10
  cache:
    key: terraform-cache
    paths:
      - infra/autoscaling_group_name.txt
      - infra/.marker
  before_script:
    - pip install boto3
  script:
    - if [ ! -f infra/.marker ]; then
      echo "No .marker => No infra => skipping";
      exit 0;
      fi
    - export ASG_NAME=$(cat infra/autoscaling_group_name.txt | tr -d '\n')
    - python infra/update_backend.py "$ASG_NAME"
  needs:
    - publish_backend
  when: always

build_frontend_for_deploy:
  stage: build_frontend
  image: node:latest
  cache:
    key: frontend-deps-prod
    paths:
      - frontend/node_modules/
  dependencies:
    # We need the lb_dns.txt from the infra job, if it was run at least once
    - initial_deploy_infrastructure
  before_script:
    - cd frontend
    - |
      if [ ! -f ../infra/.marker ]; then
        echo "No .marker found => No infra => skipping production build"
        exit 0
      fi
    # Use the LB DNS for VITE_BACKEND_URL
    - export VITE_BACKEND_URL="$(cat ../infra/lb_dns.txt | tr -d '\n')"
    - echo "Building frontend with VITE_BACKEND_URL=$VITE_BACKEND_URL"
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 week

publish_frontend:
  stage: publish_frontend
  image: python:3.10
  before_script:
    - pip install boto3
  script:
    - if [ ! -f infra/.marker ]; then
      echo "No .marker => Skipping publish_frontend";
      exit 0;
      fi
    - python infra/upload_s3.py frontend/dist/
  needs:
    - build_frontend_for_deploy
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always



