initial_deploy_infrastructure:
  stage: initial_deploy
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  rules:
    - when: manual
  script:
    # Check for the marker file in the cache directory
    - if [ -f infra/.marker ]; then echo "Marker exists; skipping deployment"; exit 0; fi
    - cd infra
    - terraform init
    - terraform apply -auto-approve
    - terraform output -raw lb_dns > lb_dns.txt
    - terraform output -raw autoscaling_group_name > autoscaling_group_name.txt
    - echo "Marker file created" > .marker
  when: manual # run manually when needed.
  cache:
    key: terraform-cache
    policy: push
    paths:
      - infra/terraform.tfstate
      - infra/autoscaling_group_name.txt
      - infra/.marker
  artifacts:
    paths:
      - infra/terraform.tfstate
      - infra/lb_dns.txt
    when: always


destroy_infrastructure:
  stage: destroy_infrastructure
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  dependencies:
    - initial_deploy_infrastructure
  cache:
    key: terraform-cache
    paths:
      - infra/terraform.tfstate
  script:
    - cd infra
    - terraform init
    - terraform destroy -auto-approve
  when: manual
