insert_data:
  stage: seed_data
  image: alpine:latest
  before_script:
    - apk add --no-cache bash curl
    - chmod +x seed-application/add_data.sh
  script:
    - export DNS=$(cat infra/lb_dns.txt | tr -d '\n')
    - export GOALS_ENDPOINT="http://${DNS}/api/goals"
    - echo "Inserting data into $GOALS_ENDPOINT"
    - ./seed-application/add_data.sh seed-application/data.md
  when: manual
