initial_deploy_infrastructure:
  stage: initial_deploy
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  script:
    - if [ -f "infra/${TF_VAR_env}/.marker" ]; then
      echo "Marker exists; skipping deployment";
      exit 0;
      fi
    - cd infra
    - mkdir -p "${TF_VAR_env}"
    - terraform init
    - terraform apply -auto-approve -state="${TF_VAR_env}/terraform.tfstate"
    - terraform output -state=${TF_VAR_env}/terraform.tfstate -raw lb_dns > "${TF_VAR_env}/lb_dns.txt"
    - terraform output -state=${TF_VAR_env}/terraform.tfstate -raw autoscaling_group_name > "${TF_VAR_env}/autoscaling_group_name.txt"
    - echo "Marker file created" > "${TF_VAR_env}/.marker"
  cache:
    key: terraform-cache
    policy: pull-push
    paths:
      - infra/${TF_VAR_env}/terraform.tfstate
      - infra/${TF_VAR_env}/autoscaling_group_name.txt
      - infra/${TF_VAR_env}/lb_dns.txt
      - infra/${TF_VAR_env}/.marker
  artifacts:
    paths:
      - infra/${TF_VAR_env}/terraform.tfstate
      - infra/${TF_VAR_env}/lb_dns.txt
      - infra/${TF_VAR_env}/autoscaling_group_name.txt
      - infra/${TF_VAR_env}/.marker
    when: always
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        TF_VAR_env: "main"
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      variables:
        TF_VAR_env: "main"
    - if: '$CI_PIPELINE_SOURCE != "merge_request_event"'
      when: always
    - when: never


destroy_infrastructure:
  stage: destroy_infrastructure
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main"'
      variables:
        TF_VAR_env: "main"
      when: manual
    - if: '$CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      variables:
        TF_VAR_env: "main"
      when: manual
    - when: manual
  needs:
      - job: initial_deploy_infrastructure
        optional: true
  cache:
    key: terraform-cache
    paths: # Cache files to be removed.
      - infra/.trash
  script:
    - apk add --no-cache python3 py3-pip
    - pip install boto3
    - cd infra
    - terraform init
    - terraform destroy -auto-approve -state="${TF_VAR_env}/terraform.tfstate"
    - python delete_s3_bucket.py "$TF_VAR_env"
    - rm -f "${TF_VAR_env}/.marker" "${TF_VAR_env}/seeded.marker" "${TF_VAR_env}/terraform.tfstate" "${TF_VAR_env}/lb_dns.txt" "${TF_VAR_env}/autoscaling_group_name.txt"
    - touch .trash
    - echo "Infrastructure destroyed and cache files cleared."
  when: manual
