stages:
  - build_and_test

backend_job:
  stage: build_and_test
  # Provides PHP 8.2 and Composer 
  image: cimg/php:8.2  
  rules:
    - changes:
        - backend/**/*  
  cache:
    key: backend-deps
    paths:
      - backend/vendor/
    policy: pull-push
  before_script:
    - cd backend
    - apt-get update && apt-get install -y sqlite3
    - echo "Installing backend dependencies with Composer..."
    - composer install --no-interaction --prefer-dist --optimize-autoloader
    - php artisan migrate --force
  script:
    - echo "Running tests..."
    # if artisan not avaibale, run tests manually
    - if [ -f artisan ]; then php artisan test; else vendor/bin/phpunit; fi
  artifacts:
    when: on_success
    expire_in: 1 day
    paths:
      - backend/storage/logs/*.log

frontend_job:
  stage: build_and_test
  image: node:latest
  rules:
    - changes:
        - frontend/**/*  
  cache:
    key: frontned-deps
    paths:
      - frontend/node_modules/
    policy: pull-push
  before_script:
    - cd frontend
  script:
    - echo "Installing frontend dependencies..."
    - npm install
    - echo "Building frontend..."
    - npm run build
  artifacts:
    when: on_success
    expire_in: 1 week
    paths:
      - frontend/dist/
