stages:
  - build_and_test
  - deploy_infrastructure
  - publish

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
      when: always
    - when: never


backend_job:
  stage: build_and_test
  # Provides PHP 8.2 and Composer
  image: cimg/php:8.2
  cache:
    key: backend-deps
    paths:
      - backend/vendor/
    policy: pull-push
  before_script:
    - cd backend
    - sudo mkdir -p /var/lib/apt/lists/partial
    - sudo apt-get update && sudo apt-get install -y sqlite3
    - echo "Installing backend dependencies with Composer..."
    - composer install --no-interaction --prefer-dist --optimize-autoloader
    - php artisan migrate --force
  script:
    - echo "Running tests..."
    # if artisan not avaibale, run tests manually
    - if [ -f artisan ]; then php artisan test; else vendor/bin/phpunit; fi

frontend_job:
  stage: build_and_test
  image: node:latest
  cache:
    key: frontned-deps
    paths:
      - frontend/node_modules/
    policy: pull-push
  before_script:
    - cd frontend
  script:
    - echo "Installing frontend dependencies..."
    - npm install
    - echo "Building frontend..."
    - npm run build
  artifacts:
    when: on_success
    expire_in: 1 week
    paths:
      - frontend/dist/

publish_backend:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login $REGISTRY -u "$DEPLOY_USERNAME" -p "$DEPLOY_PASSWORD"
  script:
    - docker build ./backend --file ./backend/Dockerfile --tag "$CI_REGISTRY_IMAGE/backend:latest"
    - docker push "$CI_REGISTRY_IMAGE/backend:latest"
  needs:
    - backend_job

publish_frontend:
  stage: publish
  image: python:3.10
  before_script:
    - pip install boto3
  script:
    - python infra/upload_s3.py frontend/dist/
  needs:
    - frontend_job

deploy_infrastructure:
  stage: deploy_infrastructure
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  script:
    - echo "Changing directory to infrastructure..."
    - cd infra
    - echo "Initializing Terraform..."
    - terraform init
    - echo "Applying Terraform configuration..."
    - |
      if terraform apply -auto-approve; then
        echo "Terraform apply succeeded."
      else
        echo "Terraform apply failed. Reinitializing with upgrade..."
        terraform init -upgrade
        if terraform apply -auto-approve; then
          echo "Terraform apply succeeded after upgrade."
        else
          echo "Terraform apply still failed after upgrade. Exiting with error."
          exit 1
        fi
      fi
    - echo "Extracting load balancer DNS..."
    - terraform output lb_dns > lb_dns.txt
    - echo "Load Balancer DNS:"
    - cat lb_dns.txt
  artifacts:
    paths:
      - infra/lb_dns.txt
    expire_in: 1 hour
  needs:
    - backend_job
