initial_deploy_infrastructure:
  stage: initial_deploy
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  script:
    - if [ -f infra/.marker ]; then
      echo "Marker exists; skipping deployment";
      exit 0;
      fi
    - cd infra
    - terraform init
    - terraform apply -auto-approve
    - terraform output -raw lb_dns > lb_dns.txt
    - terraform output -raw autoscaling_group_name > autoscaling_group_name.txt
    - echo "Marker file created" > .marker
  cache:
    key: terraform-cache
    policy: push
    paths:
      - infra/terraform.tfstate
      - infra/autoscaling_group_name.txt
      - infra/.marker
  artifacts:
    paths:
      - infra/terraform.tfstate
      - infra/lb_dns.txt
      - infra/autoscaling_group_name.txt
      - infra/.marker
    when: always

destroy_infrastructure:
  stage: destroy_infrastructure
  image:
    name: hashicorp/terraform:light
    entrypoint: [""]
  dependencies:
    - job: initial_deploy_infrastructure
      optional: true
  cache:
    key: terraform-cache
    paths:
      - infra/terraform.tfstate
      - infra/.marker
  script:
    - cd infra
    - terraform init
    - terraform destroy -auto-approve
    - rm -f .marker
  when: manual
