insert_data:
  stage: seed_data
  image: alpine:latest #
  needs:
    - job: initial_deploy_infrastructure
      optional: true
  cache: # Update cache settings
    key: terraform-cache
    policy: push
    paths:
      - infra/.marker
      - infra/seeded.marker
      - infra/terraform.tfstate
      - infra/lb_dns.txt
      - infra/autoscaling_group_name.txt
  before_script:
    - apk add --no-cache bash curl
    - chmod +x seed-application/add_data.sh
  script:
    - |
      if [ ! -f infra/.marker ]; then
        echo "No .marker found. Infrastructure not deployed. Exiting.";
        exit 1;
      fi
      if [ -f infra/seeded.marker ]; then
        echo "Seed data already inserted. Exiting.";
        exit 0;
      fi
    - export DNS=$(cat infra/lb_dns.txt | tr -d '\n')
    - export GOALS_ENDPOINT="http://${DNS}/api/goals"
    - echo "Inserting data into $GOALS_ENDPOINT"
    - ./seed-application/add_data.sh seed-application/data.md
    - echo "Seeded data successfully inserted." > infra/seeded.marker
