stages:
  - build_and_test
  - publish
  - seed_data
  - initial_deploy
  - destroy_infrastructure
  - deploy_backend

include:
  - local: '.gitlab-ci-infra.yml'
  - local: '.gitlab-ci-insert.yml'

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
      when: always

backend_job:
  stage: build_and_test
  image: cimg/php:8.2
  cache:
    key: backend-deps
    paths:
      - backend/vendor/
  before_script:
    - cd backend
    - sudo apt-get update && sudo apt-get install -y sqlite3
    - composer install
    - php artisan migrate --force
  script:
    - php artisan test || vendor/bin/phpunit

  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
      when: always

frontend_job:
  stage: build_and_test
  image: node:latest
  cache:
    key: frontend-deps
    paths:
      - frontend/node_modules/
  before_script:
    - cd frontend
  script:
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'
      when: always
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "develop"'
      when: always


publish_backend:
  stage: publish
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - docker login $REGISTRY -u "$DEPLOY_USERNAME" -p "$DEPLOY_PASSWORD"
  script:
    - docker build ./backend --file ./backend/Dockerfile --tag "$CI_REGISTRY_IMAGE/backend:latest"
    - docker push "$CI_REGISTRY_IMAGE/backend:latest"
  needs:
    - backend_job
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always

publish_frontend:
  stage: publish
  image: python:3.10
  before_script:
    - pip install boto3
  script:
    - python infra/upload_s3.py frontend/dist/
  needs:
    - frontend_job
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: always
    - if: '$CI_COMMIT_BRANCH == "develop"'
      when: always

update_backend:
  stage: deploy_backend
  image: python:3.10
  cache:
    key: terraform-cache
    paths:
      - infra/autoscaling_group_name.txt
  before_script:
    - pip install boto3
  script:
    - export ASG_NAME=$(cat infra/autoscaling_group_name.txt | tr -d '\n')
    - echo "Using Auto Scaling Group=$ASG_NAME"
    - python infra/update_backend.py "$ASG_NAME"
  when: manual

deploy_infra:
  stage: initial_deploy
  trigger:
    include: '.gitlab-ci-infra.yml'
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop"'

