version: "3.8"

services:
  db:
    image: postgres:14
    container_name: thermometer-db
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_DATABASE} || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: thermometer-backend
    environment:
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:80"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost/up || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  migrate:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: thermometer-migrate
    environment:
      DB_CONNECTION: ${DB_CONNECTION}
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
      backend:
        condition: service_healthy
    entrypoint: ["php", "artisan", "migrate", "--force"]
    restart: "no"
  seed:
    build:
      context: ./seed-application
      dockerfile: Dockerfile
    container_name: thermometer-seed
    environment:
      GOALS_ENDPOINT: "http://thermometer-backend/api/goals"
    depends_on:
      db:
        condition: service_healthy
      backend:
        condition: service_healthy
    restart: "no"
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    environment:
      VITE_BACKEND_URL: ${VITE_BACKEND_URL}
    container_name: thermometer-frontend
    depends_on:
      backend:
        condition: service_healthy
    ports:
      - "5173:80"
    restart: unless-stopped
    volumes:
      - ./frontend/default.conf:/etc/nginx/conf.d/default.conf



volumes:
  db_data:


